/* List */
.title-text{
font-family:'Rubik', sans-serif;
font-size: 28px;
font-weight: 700;
font-style: bold;
}

.title-text::first-letter{
  text-transform: uppercase;
}

.cursor-pointer{
  cursor: pointer;
}

.right-text{
  text-align: right;
}
.center-text{
  text-align:center;
}
.name{
  color: #006A7A;
  text-decoration: none;
}
.name:hover{
  color: #006A7A;
  text-decoration: none;
}
.name::first-letter{
  text-transform: uppercase;
}

/* Details */
.btn-update{
  text-decoration: #006A7A;
  color: #006A7A;
}

@media (min-width: 700px) {
  .navbar-mobile {
    display: none;
    background-color: white;
  }
}

@media (max-width: 700px) {
  .navbar-web{
    display: none;
  }
}

